
<!doctype html>
{% load staticfiles %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Chart</title>
  </head>
  <body style="background: url('{%static 'bgR.png'%}') no-repeat center center fixed; -webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;"
 >

<!-- the navigation bar section -->


  	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/home" data-toggle="tooltip" data-placement="top" title="Just tap! and we will go directly to home page">Stocks</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/home" data-toggle="tooltip" data-placement="top" title="You will go directly to the home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/aboutus" data-toggle="tooltip" data-placement="top" title="All information about the creaters is here!">About us</a>
      </li>

    </ul>

    
 

  </div>

  <div>
 

  
  <a class="navbar-brand" href="/home" data-toggle="tooltip" data-placement="top" title="You can reach directly the home page with tapping it!">
    <img src='{% static "stock.png" %}' alt="Logo" style="height:60px;">
  </a> 
    



  </div>


</nav>

<!-- Alerts while comparing -->
{% if alerts %}
  <div class="alert alert-danger alert-dismissible fade show" role="alert" >
    <strong>{{alerts.1}}</strong> {{alerts.2}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
{% endif %}

    

<div style="margin-left: 50px">
  <div style="display: flex;">
<h1>{{summary.ticker}}:</h1>
  
  
  <h2 style="color: {{summary.color}};margin-left: 10px;margin-right: 10px">{{summary.latest_diff}}</h2>
  <h2 style="color: {{summary.color}};margin-left: 10px;margin-right: 10px">{{summary.latest_diff_pct}}&#37;</h2>
</div>
  <div style="display: flex;">
    <div>
  <h2>Previous Close:{{summary.Previous_Close}}</h2>
  <h2>Todays Open:{{summary.Todays_Open}}</h2>
  <h2>All Time Maximum:{{summary.All_Time_Maximum}}</h2>
</div>
<div style="margin-left: 50px">
  <h2>All Time Minimum:{{summary.All_Time_Minimum}}</h2>
  <h2>Todays Change:{{summary.Todays_Change}}</h2>
  <h2>Monthly Change:{{summary.Monthly_Change}}</h2>
</div>
</div>



</div>

<!-- the chart div -->
<div class="row">
    <div class="container">
      <ul class="nav nav-tabs">
        <!-- <li class="nav-item">
          <a class="nav-link " href="/compare">Compare</a>
        </li> -->
        <li class="nav-item">
          <div class="col-12 col-md-10 col-lg-8">
                <form action="/compare" method="get">
    
                  <input type="text" name="text"  placeholder="Compare..."  style="color:#100404; margin-top:10px; margin-left: 10px; margin-right:10px" >

                </form>
              </div>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="/smacs">SMA (Crossover Strategy)</a>
        </li> -->
         <li class="nav-item">
          <!-- <a class="nav-link active" href="#">SMA (Crossover Strategy)</a> -->
          
          <div class="btn-group drodown">
            
                  <a class="nav-link text-danger" href="/smacs" data-toggle="tooltip" data-placement="top" title="It will show you the simple moving average of 40 days and 100 days">SMA (Crossover Strategy)</a>        
                  
                    <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-toggle="tooltip" data-placement="top" title="You can choose  manually short and long window here!">
                      <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">
      <!-- Dropdown menu links -->

                                                <div class="row" style="background-color:grey" >
                             <form action="/smacs" method="get">
                              <div class="col">
                              <input type="number" name="short_window" placeholder="Short Window" style="margin-left: 15px;margin-right: 15px">
                            </div>
                              <br>
                            <div class="col">
                              <input type="number" name="long_window" placeholder="Long Window"  style="margin-left: 15px;margin-right: 15px">
                             </div>
                             <br>

                             <div class="col" >
                              <input type="submit"style="margin-left: 70px;margin-right: 70px">
                            </div>
                          </form>

                            
                        </div>
                    </div>
              </div>
            </form>
        </li>
        <li class="nav-item">
          <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="First do the SMA analysis">
  <button class="btn " style="pointer-events: none;" type="button" disabled>Backtest</button>
</span>
        </li>
      </ul>

<br><br>
</div>
<div class="container">
    <iframe src='{% static "single.html"%}' frameborder="0" scrolling="no" width="100%" height="600" align="right" style="background: 'https://www.pexels.com/photo/953214/download/?search_query=gradient%2520website%2520background&tracking_id=vu6avlvu9sc';border-spacing: 0px">
    </iframe>
  </div> 
</div>

  <!-- </div> -->
      








  </div>
  <br><br><br>
  







    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>









  </body>

</html>