
<!doctype html>
{%load staticfiles%}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>SMA (Crossover Strategy)</title>
  </head>
  <body style="background: url('{%static 'bgR.png'%}') no-repeat center center fixed; -webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;"
 >


  	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/home"  data-toggle="tooltip" data-placement="top" title="Just tap! and we will go directly to home page">Stocks</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/home" data-toggle="tooltip" data-placement="top" title="You will go directly to the home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/textgrab"  data-toggle="tooltip" data-placement="top" title="All information about the creaters is here!">About us</a>
      </li>
      
    
      


    </ul>

    
 

  </div>

  <div>
  	  <!-- <form class="form-inline" action="/textgrab" method="get">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form> -->

  	



  </div>

<a class="navbar-brand" href="/home" data-toggle="tooltip" data-placement="top" title="You can reach directly the home page with tapping it!">
    <img src='{% static "stock.png" %}' alt="Logo" style="height:60px;">
  </a> 
</nav>






<!-- 
    
	<form action="/datasets" method="get">
		
		<textarea name="text" style="margin: 0px;width: 200px;height: 30px;background-color: #FFEB3B;color: #2196F3;text-shadow: 0 0 1px black;background-color: #4DD0E1;box-shadow: inset 0 0 20px 0px black;"></textarea><br>
		<button type="submit" >Print Text</button>
	</form>
 -->


 


<div class="container-fluid">



  <div style="margin-top: 30px;">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link text-success" href="/datasets" style="background-color: #33637B;">Compare</a>
        </li>
        
        <li class="nav-item active">
          <!-- <a class="nav-link active" href="#">SMA (Crossover Strategy)</a> -->
           <div class="btn-group drodown">
            
                  <a class="nav-link text-warning" data-toggle="tooltip" data-placement="top" title="It will show you the simple moving average of 40 days and 100 days" href="/smacs" style="background-color: #33637B;">SMA (Crossover Strategy)</a>        
                  
                    <button type="button" class="btn btn-warning dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-toggle="tooltip" data-placement="top" title="You can choose  manually short and long window here!" style="background-color: #33637B;">
                      <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <div class="dropdown-menu">
      <!-- Dropdown menu links -->

                            <div class="row" >
                             <form action="/smacs" method="get">
                              <div class="col">
                              <input type="number" name="short_window" placeholder="Short Window" style="background-color: grey;">
                            </div>
                              
                            <div class="col">
                              <input type="number" name="long_window" placeholder="Long Window">
                             </div>

                             <div class="col">
                              <input type="submit">
                            </div>
                          </form>

                            
                        </div>
                    </div>
              </div>
            </form>
        </li>
        <li class="nav-item">
        <a class="nav-link text-danger" href="/backtest">Backtest</a>

        </li>
      </ul>

    </div>
</div>





  




<div class="container-fluid">
    <iframe src='{%static "sma.html"%}' frameborder="0" scrolling="no" width="100%" height="700" align="right" style="margin-left: 50px;">
    </iframe>
  </div>
 




    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>









  </body>

</html>